@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #263038;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/**
  |============================
  | Header
  |============================
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 65px;
  background: #263038 no-repeat fixed;
}

.header-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

/* Search Form */

.search-form {
  width: 600px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.search-form input {
  flex-grow: 1;
  padding: 5px 15px;
  max-width: 600px;
  width: 10rem;
  height: 2.75rem;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #ebecf0;
  color: #2628b0;
  text-shadow: 1px 1px 1px #fff;
  font-weight: 600px;
  font-size: 0.875rem;
  letter-spacing: 0.075rem;

  box-shadow: inset 2px 2px 3px #babecc, inset -3px -3px 7px #fff;

  transition: all 0.2s ease-in-out;
}

.search-form input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.search-form button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  max-width: 9.375rem;
  height: 44px;
  color: #2628b0;
  border-radius: 0 5px 5px 0;
  border: none;
  outline: none;
  background-color: #ebecf0;
  cursor: pointer;
  box-shadow: inset 0 2px 3px #babecc, inset 0 -3px 7px #fff;
  transition: all 0.2s ease-in-out;
}

.search-form button:hover {
  transform: scale(1.05);
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.search-form button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.search {
  margin-right: 10px;
  fill: #2628b0;
}

/**
  |============================
  | Section Gallery
  |============================
*/

.photo-gallery {
  padding-top: 100px;
  padding-bottom: 20px;
}

/* Button Load More */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more-hidden {
  display: none;
}

.load-more {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.load-more:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.load-more:disabled {
  background-color: #c1c1c1;
}

/* Gallery Cards */

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.gallery__link {
  width: 100%;
  flex-basis: calc((100% - 60px) / 4);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.gallery-item:hover,
.gallery-item:focus {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.gallery-item-img {
  display: block;
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  color: #2628b0;
}

.info-item span {
  font-size: 12px;
  color: #3f47dc;
}

/* .loader {
  position: absolute;
  font-size: 10px;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #cd5c1b,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #cd5c1b, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #cd5c1b,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #cd5c1b,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #cd5c1b,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #cd5c1b,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #cd5c1b,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #cd5c1b;
  }
} */

/**
  |============================
  | button up
  |============================
*/
.btn-up {
  display: none;

  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 1.25rem;
  right: 1.875rem;
  z-index: 99;
  border: none;
  width: 6.25rem;
  height: 6.25rem;
}

.btn-up-text {
  margin-bottom: 0.9375rem;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #2628b0;
  text-shadow: 0.5px 0.5px 0.5px rgb(255, 255, 255),
    0.7px 0.7px 0.7px rgb(0, 0, 0);
}

.btn-up-wrapper__btn {
  padding: 1.25rem;
  outline: none;
  border: none;
  border-radius: 3.125rem;

  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn-up-wrapper__btn:hover {
  background-image: linear-gradient(
    -225deg,
    rgb(241, 223, 255) 0%,
    rgb(225, 225, 255) 50%,
    rgba(186, 134, 231, 0.843) 100%
  );
  animation: animate 1500ms linear infinite;

  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.btn-up-wrapper__btn:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.icon-arrow {
  fill: #2628b0;
}

/**
  |============================
  | Spinner
  |============================
*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #92729574;
  z-index: 1001;

  padding: 1.25rem;
  outline: none;
  border: none;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.loading .preloader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 0.25rem solid #fff;
  border-right: 0.25rem solid transparent;
  animation: rotation 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  border-left: 0.25rem solid #ae1100;
  border-bottom: 0.25rem solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
